<template>
  <div>

  </div>
</template>

<script>
export default {
  name: "ListCard",
  props: {
    key: {
      type: String,
      required: true,
    },
    list: {
      type: Object,
      required: true,
    }
  },
  computed: {
    stringigy() {
      return list.toString()
    }
  }
}
</script>

<style scoped>

</style>