<template>
  <div>
    <div class="uk-child-width-1-2" uk-grid>
      <div>
        <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
          <ListCard
            v-for="list in lists"
            :key="list.id"
            :list="list"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ListCard from "~/components/ListCard";

export default {
  components: {
    ListCard,
  },
  props: {
    lists: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
